/*
* @Author: lenovo
* @Date:   2017-08-17 16:22:28
* @Last Modified by:   lenovo
* @Last Modified time: 2017-08-19 20:22:03
*/
*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	list-style: none;
}
a{
	text-decoration: none;
}