/*
* @Author: lenovo
* @Date:   2017-08-20 18:38:28
* @Last Modified by:   lenovo
* @Last Modified time: 2017-09-30 17:35:29
*/
@import url('base.css');
/* 头开始 */
.head{
	width: 100%;
	height: 32px;
	background: #F2F2F2;
}
.head-body{
	width: 1230px;
	height: 32px;
	line-height: 32px;
	background: #F2F2F2;
	margin: 0 auto;
}
.head-left{
	width: 228px;
	height: 16px;
	background: #F2F2F2;
	float: left;
	
}
.titem{
	width: 80px;
	height: 40px;
	background: #fff;
	position: absolute;
	bottom:-39px;
	left: 0;
	z-index: 90;
	display: none;
}
.titem>li{
	width: 100%;
	height: 50%;
	background: #fff;
	font-size: 12px;
	text-align: center;
	line-height: 20px;
	cursor: pointer;
}
.titem>li:hover{
	text-decoration: underline;
	color: #FF0036;
}
.erwei{
	width: 150px;
	height: 184px;
	background: #fff;
	position: absolute;
	bottom: -183px;
	left: -36px;
	z-index: 9999;
	display: none;
	

}
.emui{
	width: 35px;
	height: 35px;
	color: #fff;
	font-size: 30px;
	position: absolute;
	right:50%;
	top: -16px;
	margin-right: -18px;
	

}
.png1{
	width: 100%;
	height: 150px;
}
.png1>img,.png>img{
	display: block;
	width: 100%;
	height: 100%;
}
.png2{
	width: 100%;
	height: 30px;
	padding: 2px;

}
.titem2{
	width: 140px;
	height: 195px;
	padding: 5px 10px;
	background: #fff;
	box-sizing: border-box;
	position: absolute;
	top: 31px;
	right: 0;
	z-index: 9999;
	display: none;
}
.titem2>li{
	width: 100%;
	height: auto;
	padding: 5px 0;
	background: #fff;
	border-bottom: 1px dotted #827777;
	display: flex;
	justify-content: space-between;
}
.titem2>li>dl dt{
	color: #000;
}
.titem2>li>dl dd{
	cursor: pointer;
	line-height: 20px;
}
.titem2>li>dl dd:hover{
	text-decoration: underline;
	color: #FF0036;
}
.titem3{
	width: 1198px;
	height: auto;
	padding: 10px 30px;
	box-sizing: border-box;
	background: #fff;
	position: absolute;
	top: 33px;
	z-index: 9999;
	right: 0;
	display:none;
	
}
.titem3>li{
	float: left;
	margin-right: 10px;
	width: auto;
	padding: 0 10px;
	box-sizing: border-box;
	height: 100%;
}
.titem3>li>.tibox{
	width: auto;
	height: 100%;
	float: left;
	margin-right: 0 auto;
	display: flex;
	padding: 10px;
	justify-content: space-around;
	border-right: 1px dotted #827777;
}
.titem3>li>.tibox>dl{
	margin-right: 30px;
}
.titem3>li>.tibox>dl dd{
	cursor: pointer;
}
.titem3>li>.tibox>dl dd:hover{
	text-decoration: underline;
	color: #FF0036;
}
.titem3>li>h2{
	color: orange;
	font-weight: normal;
}
.titem3>li:last-child>.tibox{
	border-right: none;
}
.head-right{
	width: 655px;
	height:32px;
	background: #F2F2F2;
	float: right;
}
.head-left li{
	height: 100%;
	padding: 0 10px;
	background: #F2F2F2;
	float: left;
	font-size: 12px;
	line-height: 32px;
	color:#999999;
	
}
.head-left li a,.head-right li a{
	font-size: 12px;
	line-height: 32px;
	color:#999999;
}
.head-left li a:hover{
	color: #FF0036;
}
.head-right>li{
	height: 100%;
	padding:  0 8px;
	background: #F2F2F2;
	float: left;
	font-size: 12px;	
	color:#999999;
	position: relative;


}
.head-right>li a:hover{
	color: #FF0036;
}
.head-right .head-web{
	padding: 0;
}
.head-right>li a div{
    margin-left: 2px;
    color:#555;
   
}
.head-right>li:nth-child(1):hover{
	background: #ffffff;
	text-decoration: underline;
}
.head-right>li:nth-child(4):hover{
	background: #ffffff;
	text-decoration: underline;
}
.head-right>li:nth-child(7):hover{
	background: #ffffff;
	text-decoration: underline;
}
.head-right .head-web:hover{
	background: #ffffff;
	text-decoration: underline;
}
.head-right .head-right3{
	border-right: 1px solid #FF0036;
}
.head-right>li:nth-child(1):hover .icon-sanjiao1{
	transform: rotate(180deg);
}
.head-right>li:nth-child(4):hover .icon-sanjiao1{
	transform: rotate(180deg);
}
.head-right>li:nth-child(7):hover .icon-sanjiao1{
	transform: rotate(180deg);
}
.head-right .head-web:hover .icon-sanjiao1{
	transform: rotate(180deg);
}


/* 头结束 */
/* <!-- 头2开始 --> */
.head2{
	width: 1340px;
	height: 130px;
	background: #ffffff;
}
.head2-left{
	width: 290px;
	height: 100%;
	background: url('../img/1.gif') no-repeat center center;
	display: block;
	float: left;
}
.head2-center{
	width: 625px;
	height: 62px;
	background: #ffffff;
	padding-top: 38px;
	margin: 0 auto;
}
.head2-center1{
	width: 621px;
	height: 32px;
	background: #ffffff;
	border:2px solid #FF0036;
	margin-bottom: 8px;
}
.head2-center1-left{
	width: 462px;
	height: 22px;
	padding: 5px 3px 5px 5px;
	font-size: 16px;
	line-height: 22px;
	float: left;

}
.head2-center1-right{
	width: 151px;
	height: 32px;
	background:#FF0036;
	display: block;
	font-size: 22px;
	line-height: 32px;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	float: right;
}
.head2-center2{
	width: 625px;
	height: 18px;
	background: #ffffff;
	padding-top: 4px;
}
.head2-center2 li{
	width: 54px;
	height: 15px;
	background: #ffffff;
	border-right: 1px solid #cccccc;
	float: left;

}
.head2-center2 li:last-child{
	border-right:0;
}
.head2-center2 li a{
	font-size: 14px;
	color: #999999;
	display: block;
	text-align: center;
	line-height: 15px;
}
.head2-center2 li a[class="head-word1"]{
	color: #FF0036;
}
/* <!-- 头2结束 --> */
/* nav开始 */
nav{
	width: 100%;
	height: 36px;
	background:red;

}
.nav-body{
	width: 1230px;
	height: 100%;
	background: #dd2727;
	margin: 0 auto;
}
.nav-body-left{
	width: 175px;
	height: 100%;
	background: #c60a0a;
	float: left;
	margin-right: 30px;
	padding-left: 25px;
	font-size: 18px;
	line-height: 36px;
	color: #fff;
}
.nav-body-right{
	width: 1000px;
	height: 100%;
	background: #dd2727;
	float: left;

}
.nav-body-right li{
	height: 100%;
	background: #dd2727;
	float: left;
	margin-right: 30px;
	position: relative;

}
.nav-body-right li:nth-child(2)~li >img{
	position: absolute;
	/* width: 200px; */
	height: 20px;
	left: 10%;
	top: 0;
	opacity: 0;
	transition: all 0.3s;
}
.nav-body-right li:nth-child(2)~li:hover img{
	opacity: 1;
	transform: translateY(-19px);
}
.nav-body-right li:last-child{
	margin-right: 0;
}
.nav-body-right li a{
	font-size: 18px;
	line-height: 36px;
	display: block;
	text-align: center;
	color: #fff;
}
.nav-body-right li a img{
	display: block;
	width: 90px;
	height: 36px;
}

/* 右边开始 */
.leftaside{
	width: 35px;
	height: 686px;
	background: #000;
	position: fixed;
	top: 0px;
	right: 0;
	z-index: 99;
	text-align: center;
}
.leftaside>li{
	width: 100%;
	height: 35px;
	margin-bottom: 10px;
	position: relative;

}
.leftaside>li:hover{
	background: red;
}
.leftaside>li:nth-of-type(8){
	position: absolute;
	bottom: 115px;
}
.leftaside>li:nth-of-type(9){
	position: absolute;
	bottom: 75px;
}
.leftaside>li:nth-of-type(10){
	position: absolute;
	bottom: 35px;
}
.leftaside>li:nth-of-type(2){
	border-top: 1px solid #fff;
	height: 94px;
	padding: 5px 0;
	border-bottom: 1px solid #fff;
}
.leftaside>li a i{
	font-size: 20px;
	text-align: center;
	line-height: 35px;
	color: #fff;
}
.leftaside>li a .icon-gouwuche2{
	color: red;
}
.leftaside>li a{
	display: block;
	font-size: 14px;
	color: #fff;
}
.leftaside>li:first-child{
	margin-top: 35px;
}
.leitem{
	width: 80px;
	height: 35px;
	background: #000;
	color: #fff;
	font-size: 10px;
	text-align: center;
	line-height: 35px;
	position: absolute;
	left: -101px;
	top: 1px;
	display: none;

}
.mui{
	width: 35px;
	height: 35px;
	color: #000;
	font-size: 30px;
	position: absolute;
	right:-18px;
	top: 0;
}
/* 右边结束 */
/* banner开始 */
.banner{
	width: 100%;
	height: 500px;
	background: #E8E8E8;
	position: relative;
	margin-bottom: 80px;

}

.banner-body{
	width: 1230px;
	height: 100%;
	background: #fff;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.banner-body li{
	width: 1230px;
	height: 100%;
	background: red;
	position: absolute;
	left: 1230px;
	top: 0;

	
}
.banner-body > li> a > img{
	display: block;
	width: 100%;
	height: 100%;
	
}

.banner-circle{
	width: 195px;
	height: 20px;
	position: absolute;
	left: 50%;
	margin-left: -97.5px;
	bottom: 20px;


}
.banner-circle li{
	width: 20px;
	height: 20px;
	background: #a2a2a2;
	border-radius: 50%;
	float: left;
	margin-right: 15px;
	cursor: pointer;
	z-index: 9000;
}
.banner-circle li:last-child{
	margin-right: 0;
}
.aside{
	width: 200px;
	height: 500px;
	background: #ededed;
	float: left;
	margin-left: 60px;
	position: absolute;
	/* opacity: 0.9; */
	left: 0;
	top: 0;
}
.aside li{
	width: 180px;
	height: 31.19px;
	background: #ededed;
	padding-left: 20px;


}
.aside li a{
	display: block;
	font-size: 14px;
	color: #000000;
	line-height: 31.19px;
}
.aside li a:first-of-type:hover{
	color: red;
}

.aside li:hover{
	background: #fff;
}
.item{
	width: 800px;
	height: 100%;
	background: #fff;
	position: absolute;
	top: 0;
	left: 200px;
	display: none;
}
.firstli{
	width: 560px;
	height: 100%;
	padding-left: 20px;
	background: #fff;
	float: left;
}
.firstli dl{
	width: 100%;
	height: 12.5%;
	background: #fff;
	font-size: 14px;
	
}
.firstli dd:hover{
	color:red;
}
.firstli dl dt{
	float: left;
	font-weight:700;
	margin-right: 20px;
}
.firstli dl dd{
	float: left;
	margin-right:10px;
	cursor: pointer;
}
.firstli dl dd:nth-of-type(7){
	margin-left: 90.5px;
}
.firstli dl:nth-of-type(2n) dd:nth-of-type(3n){
	color:red;
}
.firstli dl:nth-of-type(2n+1) dd:nth-of-type(2n+2){
	color:red;
}
.lastli{
	width: 218px;
	height: 100%;
	float: right;
	background: #fff;

}
.logobox{
	width: 100%;
	height: 12.5%;
	background: #fff;
	display: flex;
	justify-content: space-between;
}
.logobox a{
	display: block;
	width: 48%;
	height: 100%;
	

}
.logobox a img{
	display: block;
	width: 100%;
	height: 100%;

}
/* banner结束 */
/* 品牌开始 */
.pigpaiplay{
	width: 1230px;
	height: 435px;
	background: #ffffff;
	margin: 0 auto;
	margin-bottom: 40px;
}
.picture-left{
	width: 489px;
	height: 436px;
	background: black;
	float: left;
}
.picture-left img{
	display: block;
	width: 100%;
	height: 100%;
}
.picture-left-top{
	width: 489px;
	height: 275px;
	background: red;
	position: relative;
}
.picture-left-top1{
	width: 50px;
	height: 20px;
	background: rgba(0, 0, 0, 0.6);
	position: absolute;
	right: 15px;
	top: 15px;
	border-radius: 20px;
	font-size: 11px;
}
.picture-left-top11{
	width: 8px;
	height: 8px;
	background: red;
	border-radius: 50%;
	margin-left: 6px;
	margin-top: 6px;
}
.picture-left-top1 span4{
	float: right;
	margin-top: -12px;
	margin-right: 5px;
	display: block;
	color: #ffffff;
}
.neirong1{
	width: 144px;
	height: 118px;
	background: url('../img/bf.png') no-repeat center center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-top:auto;
	margin-bottom: auto;
	margin-right: auto; 
	transition: all 0.3s;
}
.neirong1:hover{
	transform: scale(1.2);
}
.picture-left-top2{
	display: block;
	width: 280px;
	height: 37px;
	position: absolute;
	bottom: 47px;
	left: 125px;
	font-size: 30px;
	color: #f5f5f5;
}
.picture-left-bottom li{
	width: 160px;
	height: 90px;
	background: red;
	float: left;
	margin-right: 4px;
	position: relative;
}
.picture-left-bottom .last{
	margin-right: 0;
}
.neirong1-box6{
	width: 247px;
	height: 33px;
	margin-left: 22px;
	margin-top: 16px;
}
.neirong1-box7{
	width: 27px;
	height: 33px;
	font-size: 12px;
	color: #fff;
	float: left;
	margin-right: 8px;
}
.neirong1-box8{
	display: block;
	width: 11px;
	height: 33px;
	background: url('../img/LIVE.png') no-repeat center center;
	float: left;
	margin-right: 9px;
}
.neirong1-box9{
	width: 2px;
	height: 19px;
	background: #484848;
	float: left;
	margin-top: 10px;
}
.neirong1-box10{
	display: block;
	width: 32px;
	height: 33px;
	background: url('../img/声音.png') no-repeat center center;
	float: left;
}
.neirong1-box11{
	width: 158px;
	height: 33px;
	float: left;
}
.neirong1-box12{
	width: 158px;
	height: 14px;
	font-size: 14px;
	color: #fff;
	margin-bottom: 7px;
}
.neirong1-box13{
	width: 158px;
	height: 12px;
	font-size: 12px;
	color: #fd4889;
}
.picture-left-bottom{
	width: 100%;
	height: 90px;
	margin-top: 9px;
}
.pigpaiplay-right{
	width: 731px;
	height: 100%;
	background: #ffffff;
	float: right;

}
.pigpaiplay-right li{
	width: 121px;
	height: 108px;
	background: url('../img/11_.webp') no-repeat center center;
	border-right: 1px solid #f5f5f5;
	border-bottom: 1px solid #f5f5f5;
	float: left;
	position: relative;
}
.small-box{
	width: 121px;
	height: 78px;
	background: rgba(0, 0, 0, 0.6);
	position: absolute;
	padding-top: 30px;
	left: 0;
	top: 0;
	opacity: 0;
	transition: all 1s;
}
.small-box span{
	display: block;
	width: 121px;
	height: 20px;
	margin-bottom: 10px;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	color: #fff;

}
.mini{
	width: 70px;
	height: 20px;
	background: red;
	/* border-radius: 50%; */
	display: block;
	margin-left: 25px;
	font-size: 12px;
	color: #fff;
	line-height: 20px;
	text-align: center;
}
.pigpaiplay-right li:hover .small-box{
	opacity: 1;
}
.pigpaiplay-right li:nth-child(6n){
	border-right: 0;
}
.pigpaiplay-right li:nth-child(18)~li{
	border-bottom:0;
}
/* 品牌结束*/
/* 第一栏开始 */
.firstshose{
	width: 1230px;
	height: 477px;
	background: #ffffff;
	margin: 0 auto;
	margin-bottom: 5px;
}
.firstshose li{
	width: 238px;
	height: 100%;
	background: #ffffff;
	float: left;
	margin-right: 10px;
}
.firstshose li:last-child{
	margin-right: 0;
}
.firstshose-top{
	width: 100%;
	height: 36px;
	background: #dd2727;
	font-size: 20px;
	color: #fff;
	line-height: 36px;
	text-align: center;

}
.firstshose-box1,.firstshose-box3{
	width: 238px;
	height: 220px;
	background: #ffffff;
}
.firstshose-box2{
	width: 200px;
	height: 1px;
	background: #eeeeee;
	margin: 0 19px;
}
.firstshose-word1{
	width: 238px;
	height:24px;
	background: #ffffff;
	padding-top: 19px;
	font-size: 22px;
	color: #000000;
	text-align: center;
	line-height: 24px;
}
.firstshose-word2{
	width: 238px;
	height: 14px;
	background: #ffffff;
	color: #888888;
	padding-top: 5px;
	font-size: 14px;
	text-align: center;
	line-height: 14px;
	margin-bottom: 5px;
}
.firstshose-picture{
	width: 140px;
	height: 140px;
	background: #f8f8f8;
	margin: 0 49px;
	border-radius: 50%;
}
.firstshose-picture img{
	display: block;
	width: 100%;
	height: 100%;
	transition: all 0.5s;
}
.firstshose-picture img:hover{
	transform: scale(1.2);
}
/* 第一栏结束 */
.firstend{
	width: 1620px;
	height: 90px;
	display: block;
	margin-bottom: 30px;
}
.firstend img{
	display: block;
	width: 100%;
	height: 100%;
}
/* 美丽人生开始 */
.beautiful{
	width: 1230px;
	height: 470px;
	background: #f5f5f5;
	margin: 0 auto;
}
.beautiful-head{
	width: 100%;
	height: 18px;
	background: #f5f5f5;
	margin-bottom: 10px;
	padding-top: 2px;
	position: relative;
	
}
.beautiful-head-left{
	width: 303px;
	height: 18px;
	background: #f5f5f5;
	float: left;
	border-left: 5px solid #ea5f8d;
}
.beautiful-head-left li{
	height: 18px;
	margin-left: 20px;
	font-size: 18px;
	float: left;
	color:#000000 ;
	text-align: center;
	line-height: 18px;
}
.beautiful-head-right{
	width: 571px;
	height: 14px;
	background: #f5f5f5;
	float: right;
	position: absolute;
	right: 0;
	bottom: 0;
}
.beautiful-head-right li{
	height: 13px;
	background: #f5f5f5;
	float: left;
	margin-right: 23px;
}
.beautiful-head-right li:hover{
	border-bottom: 1px solid #000;
}
.beautiful-head-right li:last-child{
	margin-right: 0;
}
.beautiful-head-right li a{
	display: block;
	font-size: 14px;
	color: #000000;
	text-align: center;
	line-height: 14px;
}
.beauti-left{
	width: 246px;
	height: 440px;
	background: #ffffff;
	float: left;
}
.be-left-top{
	width: 246px;
	height: 330px;
	background: #ffffff;
	position: relative;
}
.be-left-bottom{
	width: 246px;
	height: 90px;
	background: #ea5f8d;
	padding-top: 20px
}
.be-left-bottom-word1{
	width: 100%;
	height: 33px;
	background: #ea5f8d;
	font-size: 22px;
	text-align: center;
	line-height: 33px;
	font-weight: 700;
	color: #fff;
	margin-bottom: 3px;
}
.be-left-bottom-word2{
	width:100%;
	height: 27px;
	background:  #ea5f8d;
	font-size: 18px;
	text-align: center;
	line-height: 27px;
	color: #fff;
}
.be-left-top img{
	display: block;
	width: 100%;
	height: 100%;
}
.zhezhao{
	width: 246px;
	height: 330px;
	background: #fff;
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: 0;
	opacity: 0;

}
.zhezhao:hover {
	opacity: 0.2;
}
.betop1{
	width: 100%;
	height: 30px;
	background: #fcf6f0;
	opacity: 0.6;
	font-size: 14px;
	color: #000000;
	text-align: center;
	line-height: 30px;
	position: absolute;
	left: 0;
	bottom: 0;
}
.betop1:hover {
	color: #c60a0a;
	opacity: 0.8;
}

.beauti-center{
	width: 735px;
	height: 440px;
	background: #ffffff;
	float: left;
}
.beauti-center li{
	width: 219px;
	height: 205px;
	background: #ffffff;
	padding-left: 25px;
	padding-top: 15px;
	float: left;
	border-right: 1px solid #f5f5f5;
	border-bottom: 1px solid #f5f5f5;
	position: relative;
}
.beauti-center li:nth-child(3n){
	border-right:0;
}
.beauti-center li:nth-child(3)~li{
	border-bottom:0;
}
.beauti-right{
	width: 249px;
	height: 440px;
	background: #ffffff;
	float: right;

}
.beauti-right li{
	width: 238px;
	height: 131px;
	background: #ffffff;
	padding-top: 15px;
	padding-left: 10px;
	border-bottom: 1px solid #f5f5f5;
	border-right: 1px solid #f5f5f5;
	position: relative;

}
.beauti-right li:last-child{
	border-bottom: 0;
}
.be-right-word3{
	width: 100px;
	height: 100px;
	background: #ffffff;
	position: absolute;
	right: 0;
	bottom: 0;

}
.be-center-word1,.be-right-word1{
	width: 219px;
	height: 24px;
	background: #ffffff;
	font-size: 20px;
	color: #000;
	line-height: 24px;
	margin-bottom: 4px;
}
.be-center-word2,.be-right-word2{
	width: 219px;
	height: 18px;
	background: #ffffff;
	font-size: 14px;
	color: #ea5f8d;
	line-height: 18px;
}
.be-center-word3{
	width: 154px;
	height: 154px;
	background: #ffffff;
	position: absolute;
	right: 0;
	bottom: 0;
}
.be-center-word3 img,.be-right-word3 img{
	display: block;
	width: 100%;
	height: 100%;
	transition: all 0.6s;
}
.be-center-word3 img:hover{
	transform: translateX(-4px);
}
.be-right-word3 img:hover{
	transform: translateX(-4px);
}
/* 美丽人生结束 */
/* 猜你喜欢开始 */
.youlove{
	width: 1230px;
	height: 369px;
	background: #f5f5f5;
	margin: 0 auto;
	margin-bottom: 80px;
}
.youlove-head{
	width: 100%;
	height: 43px;
	background: #f5f5f5;
	position: relative;
}
.youlove-head1{
	width: 175px;
	height: 100%;
	background: #f5f5f5;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
.youlove-head1-left,.youlove-head1-right{
	width: 30px;
	height: 1px;
	background: #979797;
	position: absolute;
	float: left;
	left: 0;
	bottom: 21px;
	/* margin-right: 10px; */
}
.youlove-head1-center{
	width: 95px;
	height: 100%;
	background: #f5f5f5;
	float: left;
	margin-left: 40px;
	line-height: 43px;
	font-size: 18px;
	color: #666666;
}
.youlove-head1-right{
	margin-left: 145px;
}
.youlove-body{
	width: 1230px;
	height: 326px;
	background: #f5f5f5;
}
.youlove-body li{
	width: 233px;
	height: 324px;
	background: #ffffff;
	float: left;
	margin-right: 13.75px;
	position: relative;
	border: 1px solid #ffffff;


}
.ylzhezhao{
	width: 233px;
	height: 324px;
	background: #ffffff;
	opacity: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;

	
}
.ylzhezhao:hover{
	opacity: 0.2;
}
.youlove-body li:hover {
	border: 1px solid red;

}
.youlove-body li:last-child{
	margin-right: 0;
}
.youlove-body-top{
	width: 100%;
	height: 233px;
	background: #ffffff;
}
.youlove-body-top img{
	display: block;
	width: 100%;
	height: 100%;
}
.youlove-body-bottom{
	width: 209px;
	height: 69px;
	background: #ffffff;
	padding: 14px 12px 8px;

}
.yl-bottom-word1{
	width: 100%;
	height: 35px;
	background: #ffffff;
	font-size: 13px;
	color:#666666 ;
	margin-bottom: 2px;
}
.yl-bottom-word2{
	width: 100%;
	height: 33px;
	background: #ffffff;
	font-size: 13px;
	color:#ff0000 ;
	line-height: 33px;
	
}
/* 猜你喜欢结束*/
/* 底部开始 */
.lbottom{
	width: 1349px;
	height: 565px;
	background: #ffffff;
	margin: 0 auto;
}
.lbottom-top{
	width: 100%;
	height: 365px;
	background: #ffffff;
	border-top: 1px solid black;
}
.lbottom-bottom{
	width: 100%;
	height: 180px;
	background: #000000;
	border-top: 2px solid red;
	position: relative;
}
.lbottom-top1{
	width: 1193px;
	height: 100px;
	background: #ffffff;
	padding: 26px 78px;
}
.lbottom-top1 li{
	width: 297px;
	height: 100px;
	background: #555;
	/* border-right: 1px solid #cfcfcf; */
	float: left;
}
.lbottom-top1 li:last-child{
	border-right: 0;
}
.lbottom-top1 li a{
	display: block;
	width: 297px;
	height: 100px;
}
.lbottom-top1 li a img{
	display: block;
	width: 297px;
	height: 100px;
}
.lbottom-top2{
	width: 1196px;
	height: 190px;
	background: #fff;
	padding: 22px 79px 0;
	position: relative;
}
.lbottom-top2-left{
	width: 952px;
	height: 100%;
	background: #fff;
	float: left;
}
.lbottom-top2-left li{
	width: 238px;
	height: 100%;
	background: #fff;
	float: left;	
}
.zliebiao{
	width: 238px;
	height: 190px;
	background: #fff;
}
.zliebiao li{
	width: 228px;
	height: 20px;
	background: #fff;
	padding-left: 10px;
}
.zliebiao li:first-child{
	height: 30px;
	font-size: 16px;
	font-weight: bold;
	color: black;
}
.zliebiao li a{
	display: block;
	font-size: 12px;
	color: #555;
	line-height: 20px;
}
.lbottom-top2-right{
	width: 186px;
	height: 135px;
	background: #fff;
	float: right;
	position: absolute;
	right: 10px;
	bottom: 40px;
	padding-left: 52px;
}
.lbottom-trword{
	width: 150px;
	height: 30px;
	background: #fff;
	font-size: 16px;
	line-height: 30px;
	color: black;
}
.lbottom-top2-right a{
	width: 105px;
	height: 105px;
	display: block;
	background: url('../img/ma.png') no-repeat center center;
}
.lbottom-b1,.lbottom-b2{
	width: 1190px;
	height: 33px;
	background: #000;
	margin: 0 auto;
	padding-top: 2px;
}
.lbottom-b1 li{
	height: 100%;
	background: #000;
	float: left;
	padding-left: 6px;
	padding-right: 7px;
}
.lbottom-b1 li:first-child{
	padding-left: 0;
}
.lbottom-b1 li:last-child{
	padding-right: 0;
}
.lbottom-b1 li a,.lbottom-b2 li a{
	display: block;
	font-size: 12px;
	color:#fff ;
	line-height: 33px;
}
.lbottom-b2 li{
	height: 33px;
	background: #000;
	float: left;
	padding-left: 3px;
	padding-right: 4px;
	border-right: 1px solid #555;
	border-top: 0;

}
.lbottom-b2 li:first-child{
	padding-left: 0;
}
.lbottom-b2 li:last-child{
	padding-right: 0;
	border-right: 0;
}
.wword1,.wword2,.wword4{
	width: 250px;
	height: 12px;
	background: #000;
	float: left;
	font-size: 10px;
	color:#fff ;
	line-height: 12px;
	margin-left: 79px;
	margin-bottom: 6px;
}
.wword1 a,.wword2 a,.wword3 a,.wword4 a{
	color: #fff;
}
.wword2{
	margin-left: 90px
}
/* .wword3{
	margin-left: 100px
} */
.wword3{
	width: 250px;
	height: 12px;
	background: #000;
	float: right;
	font-size: 10px;
	color:#fff ;
	line-height: 12px;
	margin-left: 100px;
	margin-bottom: 6px;
}
.badd{
	width: 167px;
	height: 30px;
	background: #000;
	position: absolute;
	left: 80px;
	bottom: 30px;
}
.badd li{
	width: 74px;
	height: 100%;
	background: #000000;
	float: left;
	margin-right: 14px;
}
.badd li:last-child{
	margin-right: 0;
	float: right;
}
.badd li a{
	display: block;
	width: 74px;
	height: 30px;
	background: url('../img/01.jpg') no-repeat center center;
}

/* 底部结束 */
/* 选项卡 */
ul.choose{
	width: 36px;
	/* height: 356px; */
	text-align: center;
	border-bottom: 1px solid black;
	position: fixed;
	left:-40px;
	top: 50%;
	margin-top:44px;
	z-index: 99999;
	cursor: pointer;
	 

}
.choose > li{
	width: 36px;
	height: 36px;
	/* line-height: 36px; */
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	font-size: 12px;
	border: 1px solid black;
	border-bottom:none;
	
}
.dingbu{
	width: 100%;
	height: 50px;
	background: red;
	position: fixed;
	top: -50px;
	left: 0;
	z-index: 9000;
}
.ddbox{
	width: 1230px;
	height: 100%;
	background: red;
	margin: 0 auto;
	position: relative;
}
.shuru{

	width: 740px;
	height: 100%;
	background: red;
	position: absolute;
	top: 0;
	left: 50%;
	outline: none;
	border: none;
	margin-left: -350px;
	box-sizing: border-box;
	padding-top: 10px;


}
#shusou{

	width: 580px;
	padding: 5px;
	height: 20px;
	outline: none;
	float: left;



}
.btn{
	width: 80px;
	height: 34px;
	position: absolute;
	top: 12px;
	right: 67px;
	background: red;
	text-align: center;
	font-size: 16px;
	line-height: 34px;
	color: #fff;


}