/*
* @Author: asus
* @Date:   2017-08-20 20:29:07
* @Last Modified by:   lenovo
* @Last Modified time: 2017-09-19 23:27:17
*/
@import url('base.css');
body{
	background: #f5f5f5;
}
/* 头部开始 */
header{
	width: 100%;
	height: 32px;
	background: #f2f2f2;
	border: 1px solid #e5e5e5;
}
main{
	width: 1230px;
	height: 12px;
	margin-left: 45px;
	margin-top: 10px;
}
.header-left{
	width: 228px;
	height: 12px;
	float: left;
}
.header-left li{
	height: 12px;
	font-size: 12px;
	float: left;
	margin-right: 20px;
	color: #999999;
}
.header-left li a{
	color: #999999;	
}
.header-left li a:hover{
	color: #dd2727;
}
/* 头右 */
.header-right{
	width: 676px;
	height: 12px;
	float: right;
	margin-right: 8px;
}
.header-right-left{
	width: 333px;
	height: 12px;
	float: left;
	border-right: 1px solid #cccccc;
	position: relative;
}
.hitem1{
	width: 70px;
	background: red;
	position: absolute;
	top: 22px;
	left: 0;
	transition: 0.3s;
}
.hitem2{
	width: 70px;
	background: red;
	position: absolute;
	top: 22px;
	right: 0;
	transition: 0.3s;
}
.hitem3{
	width: 135px;
	height: 175px;
	background: #fff;
	position: absolute;
	top: 22px;
	left: -26px;
	z-index: 20;
	margin: 0;
	display: none;

}
.hitem3 li:first-child{
	width: 135px;
	height: 135px;
	background: url('../img/download.jpg') no-repeat center center;
	background-size: 135px 135px;
}
.hitem3 li:last-child{
	width: 135px;
	height: 30px;
	background: url('../img/download (1).png') no-repeat center center;
	background-size: 100px 20px;
}
.hitem4{
	width: 120px;
	height: 140px;
	background: red;
	position: absolute;
	top: 22px;
	right:92px;
	display: none;
	z-index: 20;

}
.hitem5{
	width: 1230px;
	height: 250px;
	background: red;
	position: absolute;
	top: 22px;
	right:-7px;
	display: none;
	z-index: 20;
}
.header-right-box1{
	width: 55px;
	height: 12px;
	float: left;
	margin-right: 18px;
	/* position: relative; */
}
.header-right-box2{
   height: 12px;
   font-size: 12px;
   color: #999999;
   float: left;
   margin-right: 1px;
}
.header-right-box3{
	display: block;
	width: 6px;
	height: 12px;
	background: url('../img/箭头1.png') no-repeat center center;
	float: left;
	background-size: 6px 11px;
	margin-top: 1px;
}
.header-right-box1:hover{
	height: 40px;
	background: #fff;
}
.header-right-box1:hover .header-right-box2{
   color:  #dd2727;
   text-decoration: underline;
}
.header-right-box1:hover .header-right-box3{
	background: url('../img/箭头2.png') no-repeat center center;
}
.header-right-box4{
	display: block;
	width: 12px;
	height: 12px;
	background: url('../img/关注.png') no-repeat center center;
	background-size: 12px 10px;
	margin-top: 2px;
	float: left;
	margin-right: 4px;
}
.header-right-box5{
	height: 12px;
	font-size: 12px;
	color: #999999;
	float: left;
	margin-right: 20px;
}
.header-right-box5:hover{
	color: #dd2727;
}

.header-right-box6{
	display: block;
	width: 12px;
	height: 12px;
	background: url('../img/购物车.png') no-repeat center center;
	background-size: 12px 10px;
	margin-top: 2px;
	float: left;
	margin-right: 4px;

}
.header-right-box7{
	margin-right: 0px;
}
.header-right-right{
	width: 342px;
	height: 12px;
	float: left;
	position: relative;
}
.header-right-box8{
	display: block;
	width: 8px;
	height: 12px;
	background: url('../img/小手机.png') no-repeat center center;
	background-size: 8px 12px;
	margin-top: 2px;
	float: left;
	margin-left: 14px;
	margin-right: 4px;
}
.header-right-box9{
	width: 71px;
	height: 12px;
	float: left;
}
.header-right-box10{
	display: block;
	width: 10px;
	height: 10px;
	background: url('../img/面包屑.png') no-repeat center center;
	background-size: 10px 10px;
	margin-top: 4px;
	float: left;
	margin-right: 6px;
}
.header-right-box11{
   height: 12px;
   font-size: 12px;
   color: #999999;
   float: left;
   margin-right: 1px;
}
.header-right-box12{
	display: block;
	width: 6px;
	height: 12px;
	background: url('../img/箭头1.png') no-repeat center center;
	float: left;
	background-size: 6px 11px;
	margin-top: 1px;
}
.header-right-box9:hover{
	height: 40px;
	background: #fff;
}
.header-right-box9:hover .header-right-box11{
   color:  #dd2727;
   text-decoration: underline;
}
.header-right-box9:hover .header-right-box12{
	background: url('../img/箭头2.png') no-repeat center center;
}
/* 头部结束 */
/* 导航开始 */
.sousuo-box{
	width: 100%;
	height: 130px;
	background: #ffffff;
}
.tianmao{
	display: block;
	width:320px;
	height: 130px;
/* 	background: blue; */
	float: left; 
}
.img{
	display: block;
	width: 100%;
	height: 100%;
}
.sousuo-box4{
	width: 625px;
	height: 62px;
	float: left;
   margin-top: 38px;
   margin-left: 42px;
}

.sousuo-box1{
	width: 621px;
	height: 36px;
   border: 2px solid #c40000;
   margin-bottom: 7px;
}
.sousuo-box2{
	display: block;
	width: 491px;
	height: 36px;
	font-size: 14px;
	color: #666666;
	line-height: 36px;
	margin-left: 10px;
	float: left;
}
.sousuo-box3{
	display: block;
	width: 120px;
	height: 36px;
	background: #c40000;
	float: left;
	font-size: 16px;
	color: #ffffff;
	text-align: center;
	line-height: 36px;
}
.sousuo-box5{
    width: 566px;
    height: 15px;
}
.sousuo-box5 li a{
	height: 14px;
	font-size: 14px;
	color: #999999;
	float: left;
	margin-top: 1px;
}
.sousuo-box6{
	width: 1px;
	height: 15px;
	font-size: 15px;
	color: #cccccc;
	margin: 0 13px;
	float: left;
}
.sousuo-box5 .sousuo-word1{
	color: #c40000;
}
/* 导航结束 */
/* banner开始 */
.banner-box{
	width: 100%;
	height: 536px;
	background: #e8e8e8;
	position: relative;
}
.banner-top{
	width: 100%;
	height: 36px;
	background: #dd2727;
}
.banner-top1{
	width: 200px;
	height: 36px;
	background: #c60a0a;
	margin-left: 45px;
	float: left;
}
.banner-top2{
	display: block;
	width: 15px;
	height: 13px;
	background: url('../img/面包.png') no-repeat center center;
	margin: 12px 12px 12px 15px;
    float: left;
}
.banner-top3{
	display: block;
	width: 158px;
	height: 36px;
	float: left;
	font-size: 18px;
	color: #ffffff;
	line-height: 36px;
}
.banner-top4{
	width: 960px;
	height: 36px;
	margin-left: 30px;
	float: left;
}
.banner-top4 li{
	height: 36px;
	position: relative;
	height: 36px;
	font-size: 16px;
	float: left;
	margin-right: 30px;
	line-height: 36px;
}
.banner-top4 li a{
	color: #fffdfd;
}

.sl{
	width: 40px;
	height: 15px;
	background: url('../img/tm.png') no-repeat center center;
	position: absolute;
	left:0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
	top: 0; 
	display: none;
}
.banner-top4 li:hover .sl{
    top: -15px;
    display: block;
}
.banner-top4 .last{
	margin-right: 0px;
}
.banner-top5{
	display: block;
	width: 23px;
	height: 16px;
	background: url('../img/购物2.png') no-repeat center center;
	margin-top: 10px;
	float: left;
}
.banner-top6{
	display: block;
	width: 22px;
	height: 19px;
	background: url('../img/国际.png') no-repeat center center;
	margin-top: 8px;
	float: left;
}

.banner-bottom{
	width: 1230px;
	height: 500px;
	background: #fff;
	position:relative;
}
.banner-list{
	width: 100%;
	height: 500px;
	background: #fff;
	position:relative;
}
.banner-list li{
	width: 100%;
	height: 500px;
	background: #fff;
	position:absolute;
	top: 0;
	left: 45px;
	display: none;
}
.banner-list li:first-child{
	display: block;
}
.banner-img img{
	display: block;
	width: 100%;
	height: 100%;
	/* opacity: 0; */
}
 .bar-list{
	width: 212px;
	height: 20px;
	position:absolute;
    left:50%;      
    right:0;  
    margin-left:-106px;  
    bottom: 20px;
    z-index: 10;

}
.bar-list li{
	width: 18px;
	height: 18px;
	background: #a2a2a2;
	float: left;
	border: 2px solid #a2a2a2;
	border-radius: 50%;
	margin-right: 16px;
	cursor: pointer;

}
.bar-list .last{
	margin-right: 0px;
}

.bar-list li:hover{
	background: #f1f1f1;
}

/* 侧导航 */
aside{
	width: 200px;
	height: 500px;
	/* background: rgba(237, 237, 237,1); */
	position:absolute;
	left: 45px;
	top: 0;
	z-index: 10;

}

.word li{
	width: 200px;
	height: 31px;
	background: rgba(0, 0, 0,0.4);
	box-sizing:border-box;
	padding: 0 10px;
}
.word li a{
	color: #fff;
	font-size: 14px;
}
.word li:hover {
	background: #ffffff;
}
/* span::before{
	content: "\e612";
	display: block;
	font-size: 20px;
	width: 16px;
	height: 31px;
} */
.item{
	width: 600px;
	height: 100%;
	background: #ffffff;
	position: absolute;
	top: 0;
	left: 200px;
	display: none;
	/* z-index: 10; */
}
.word li:hover a{
	color: #ff6700;
}
/* banner结束 */
/* 内容一开始 */
.picture{
	width: 1226px;
	height: 435px;
	background: #f5f5f5;
	margin: 60px auto;
}
.picture-left{
	width: 489px;
	height: 436px;
	background: black;
	float: left;
}
.picture-left-top{
	width: 489px;
	height: 275px;
	background: red;
	position: relative;
}
.picture-left-top1{
	width: 50px;
	height: 20px;
	background: rgba(0, 0, 0, 0.6);
	position: absolute;
	right: 15px;
	top: 15px;
	border-radius: 20px;
	font-size: 11px;
}
.picture-left-top11{
	width: 8px;
	height: 8px;
	background: red;
	border-radius: 50%;
	margin-left: 6px;
	margin-top: 6px;
}
.picture-left-top1 span4{
	float: right;
	margin-top: -12px;
	margin-right: 5px;
	display: block;
	color: #ffffff;
}
.neirong1{
	width: 144px;
	height: 118px;
	background: url('../img/bf.png') no-repeat center center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-top:auto;
	margin-bottom: auto;
	margin-right: auto; 
	transition: all 0.3s;
}
.neirong1:hover{
	transform: scale(1.2);
}
.picture-left-top2{
	display: block;
	width: 280px;
	height: 37px;
	position: absolute;
	bottom: 47px;
	left: 125px;
	font-size: 30px;
	color: #f5f5f5;
}
.picture-left-bottom li{
	width: 160px;
	height: 90px;
	background: red;
	float: left;
	margin-right: 4px;
	position: relative;
}
.picture-left-bottom .last{
	margin-right: 0;
}
.neirong1-box6{
	width: 247px;
	height: 33px;
	margin-left: 22px;
	margin-top: 16px;
}
.neirong1-box7{
	width: 27px;
	height: 33px;
	font-size: 12px;
	color: #fff;
	float: left;
	margin-right: 8px;
}
.neirong1-box8{
	display: block;
	width: 11px;
	height: 33px;
	background: url('../img/LIVE.png') no-repeat center center;
	float: left;
	margin-right: 9px;
}
.neirong1-box9{
	width: 2px;
	height: 19px;
	background: #484848;
	float: left;
	margin-top: 10px;
}
.neirong1-box10{
	display: block;
	width: 32px;
	height: 33px;
	background: url('../img/声音.png') no-repeat center center;
	float: left;
}
.neirong1-box11{
	width: 158px;
	height: 33px;
	float: left;
}
.neirong1-box12{
	width: 158px;
	height: 14px;
	font-size: 14px;
	color: #fff;
	margin-bottom: 7px;
}
.neirong1-box13{
	width: 158px;
	height: 12px;
	font-size: 12px;
	color: #fd4889;
}
.picture-left-bottom{
	width: 100%;
	height: 90px;
	margin-top: 9px;
}

.picture-right{
	width: 731px;
	height: 100%;
	background: pink;	
	float: right;
}
.picture-right>li{
	width: 121px;
	height: 108px;
	background: #ffffff;
	border-right: 1px solid #fcfcfc;
	border-bottom: 1px solid #fcfcfc;
	float: left;
	position: relative;
}
.picture-right li:nth-child(6n){
	border-right:0;
}
.picture-right li:nth-child(18)~li{
	border-bottom: 0;
}
.zhezhao{
	width: 121px;
	height: 108px;
	background: rgba(0, 0, 0, 0.6);
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	transition: all 0.2s;
	display: block;
}
.picture-right li:hover .zhezhao{
	opacity: 1;
}
.picture .pr-ward{
	font-size: 12px;
	display: block;
	margin-top: 40px;
	margin-left: 20px;
	color: #ffffff;
}
.picture .yuanjiao{
	font-size: 10px;
	color: #ffffff;
	width: 64px;
	height:12px;
	background: red;
	display: block;
	line-height: 12px;
	text-align: center;
	border-radius: 20px; 
	margin: 10px auto;
}
.zhezhao1{
	width: 121px;
	height: 108px;
	background: rgba(196, 0, 0, 1.0);
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	transition: all 0.2s;
	display: block;

}
.picture-right li:hover .zhezhao1{
	opacity: 1;
}
.huan{
	display: block;
	font-size: 14px;
	color: #c1bec2;
	text-align: center;
}
/* 图片区一结束 */
/* 图片区二开始 */
.picture2{
	width: 1226px;
	height: 477px;
	margin: 0 auto;
	margin-top: 30px;
}
.picture2-top{
	width: 100%;
	height: 36px;
}
.picture2-top li{
	width: 237.2px;
	height: 36px;
	background: #dd2727;
	float: left;
	margin-right: 10px;
}
.picture2-top .last{
	margin-right:0;
}
.picture2-top li span{
	display: block;
	text-align: center;
	line-height: 36px;
	color: #ffffff;
}
.picture2-center li{
	width: 237px;
	height: 220px;
	background: #ffffff;
	float: left;
	margin-right: 10px;
	border-bottom: 1px solid #ccc;
}
.picture2-center li:nth-child(5n){
	margin-right: 0;
}
.picture2-center li:nth-child(6)~li{
	border-bottom:0；
}
.picture2-center li div{
	width: 140px;
	height: 140px;
	background: #ccc;
	display: block;
	margin-left: 48px;
	margin-top: 0px;
	border-radius: 50%;
}
.picture2-center li b{
	display: block;
	text-align: center;
	margin-top: 15px;
	font-size: 14px;
}
.picture2-center li a{
	display: block;
	text-align: center;
	margin-top: 5px;
	font-size: 12px;
}
.picture2-bottom{
	width: 1226px;
	height: 90px;
	background: red;
	margin: 0 auto;
	margin-top: 10px;
}
.picture2-bottom img{
	width: 1226px;
	height: 90px;
	display: block;
	background-size: 1226px 90px;
}
.picture2-center img{
	display: block;
	width: 140px;
	height: 140px;
	background-size: 140px 140px;
	margin: 0 auto;
	transition: all 0.5s;
}
.picture2-center img:hover{
	transform: scale(1.1, 1.1)
}
.picture2-center b{
	font-size: 20px;
	color: black;
}
.picture2-center a{
	font-size: 14px;
	color: #cccccc;
}
/* 美丽人生开始 */
.picture3{
	width: 1226px;
	height: 471px;
	margin: 0 auto;
	margin-top: 30px;
}
.picture3-top{
	width: 100%;
	height: 31px;
}

.picture3-top-left{
	width: 228px;
	height: 18px;
	border-left: 5px solid #ea5f8d;
	float: left;
}
.picture3-top-left span1{
	display: block;
	float: left;
	margin-left: 5px;
	line-height: 16px;	
	font-size: 16px;
}
.picture3-top-left span2{
	height: 16px;
	display: block;
	float: left;
	line-height: 16px;
	margin-left: 6px;
	font-size: 11px;
	margin-top: 2px;
}
.picture3-top-right{
/* 	width: 579px; */
	height: 16px;
	float: right;
}
.picture3-top-right li{
	float: left;
	display: block;
	padding-right: 24px;
}
.picture3-top-right li:last-child{
	padding-right: 0;
}
.picture3-top-right li a{
	font-size: 14px;
	color: black;
	display: block;
}
.picture3-top-right li a:hover{
	border-bottom: 1px solid black;
}
.picture3-center-left{
	width: 246px;
	height: 440px;
	background: blue;
	position: relative;
	float: left;
}
.picture3-center-left .tu1{
	width: 246px;
	height: 330px;
	display: block;
}
.picture3-center-left .word1{
	width: 246px;
	height: 30px;
	position: absolute;
	background: rgba(255, 255, 255, 0.9);
	font-size: 12px;
	line-height: 30px;
	text-align: center;
	color: black;
	bottom: 110px;
}
.p3-zhezhao{
	width: 246px;
	height: 330px;
	background: white;
	position: absolute;
	opacity: 0;
	left: 0;
	top: 0;
	transition: all 0.7s;
	display: block;
	
	
}
.p3-zhezhao:hover {
	opacity: 0.4;
	
}
.picture3-center-left .bottom{
	width: 246px;
	height: 110px;
	background: #ea5f8d;
	position: absolute;
}
.picture3-center-left .tu2{
	display: block;
}
.picture3-center-left b{
	position: absolute;
	left: 67px;
	bottom: 63px;
	font-size: 21px;
	display: block;
	color: white;
}
.picture3-center-left .word{
	position: absolute;
	display: block;
	font-size: 18px;
	color: white;
	left: 42px;
	bottom: 34px;
}
.picture3-center-right{
	width: 734px;
	height: 441px;
	background: yellow;
	float: left;
}
.picture3-center-right li{
	width: 244px;
	height: 220px;
	background: #ffffff;
	float: left;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	position: relative;
}
.picture3-center-right li:nth-child(3n){
	border-right:0;
}
.picture3-center-right li:nth-child(3)~li{
	border-bottom: 0;
}
.picture3-center-right img{
	width: 144px;
	height: 144px;
	display: block;
	right: 0;
	bottom: 0;
	position: absolute;
	transition: all 0.3s;
}
.picture3-center-right img:hover{
	transform: translateX(-4px);
}
.picture3-center-right .w1{
	font-size: 17px;
	display: block;
	position: absolute;
	color: black;
	left: 25px;
	top: 30px;
}
.picture3-center-right .w2{
	font-size: 14px;
	display: block;
	position: absolute;
	color: #ea5f8d;
	left: 25px;
	top: 57px;
}
.picture3-center-last{
	width: 245px;
	height: 440px;
	background: red;
	float: right;
}
.picture3-center-last li{
	width: 100%;
	height: 117px;
	display: block;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	background: #ffffff;
	padding-top: 29px;
}
.picture3-center-last li:last-child{
	border-bottom:0;
}
.picture3-center-last .w1{
	display: block;
	font-size: 16px;
	margin-left: 8px;
	color: black;
}
.picture3-center-last .w2{
	display: block;
	font-size: 12px;
	margin-top: 8px;
	margin-left: 8px;
	color: #ea5f8d;	
}
.picture3-center-last img{
	width: 65px;
	height: 65px;
	display: block;
	float: right;
	transition: all 0.3s;
}
.picture3-center-last img:hover{
	transform: translateX(-4px);
}
/* 潮流电玩开始 */
.picture4{
	width: 1226px;
	height: 471px;
	margin: 0 auto;
	margin-top: 30px;
}
.picture4-top{
	width: 100%;
	height: 31px;
}
.picture4-top-left{
	width: 228px;
	height: 18px;
	border-left: 5px solid #0aa6e8;
	float: left;
}
.picture4-top-left span1{
	display: block;
	float: left;
	margin-left: 5px;
	line-height: 16px;	
	font-size: 16px;
}
.picture4-top-left span2{
	height: 16px;
	display: block;
	float: left;
	line-height: 16px;
	margin-left: 6px;
	font-size: 11px;
	margin-top: 2px;
}
.picture4-top-right{
	width: 617px;
	height: 16px;
	float: right;
}
.picture4-top-right li{
	float: left;
	display: block;
	padding-right: 24px;
}
.picture4-top-right li:last-child{
	padding-right: 0;
}
.picture4-top-right li a{
	font-size: 14px;
	color: black;
	display: block;
}
.picture4-top-right li a:hover{
	border-bottom: 1px solid black;
}
.picture4-center-left{
	width: 246px;
	height: 440px;
	background: blue;
	position: relative;
	float: left;
}
.picture4-center-left .tu1{
	width: 246px;
	height: 330px;
	display: block;
}
.picture4-center-left .word1{
	width: 246px;
	height: 30px;
	position: absolute;
	background: rgba(255, 255, 255, 0.9);
	font-size: 12px;
	line-height: 30px;
	text-align: center;
	color: black;
	bottom: 110px;
}
.zhezhao3{
	width: 246px;
	height: 330px;
	background: rgba(225, 225, 225, 1.0);
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	transition: all 0.7s;
	display: block;
	color: orange;
	display: block;
}.picture34center-left .word1:hover .zhezhao2{
	opacity: 1;
}
.picture4-center-left .bottom{
	width: 246px;
	height: 110px;
	background: #0aa6e8; 
	position: absolute;
}
.htm{
	position: absolute;
	left: 0;
	bottom: 0;
}
.picture4-center-left .tu2{
	display: block;
}
.picture4-center-left b{
	position: absolute;
	left: 67px;
	bottom: 63px;
	font-size: 21px;
	display: block;
	color: white;
}
.picture4-center-left .word{
	position: absolute;
	display: block;
	font-size: 18px;
	color: white;
	left: 66px;
	bottom: 34px;
}

.picture4-center-right{
	width: 979px;
	height: 440px;
	background: #ccc;
	float: left;
}
.picture4-center-right li{
	width: 244px;
	height: 220px;
	background: #ffffff;
	float: left;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	position: relative;
}
.picture4-center-right .pcr{
	width: 489px;
}
.picture4-center-right .tow,.picture4-center-right .six{
	border-right:0;
}
.picture4-center-right li:nth-child(3)~li{
	border-bottom: 0;
}
.picture4-center-right img{
	width: 144px;
	height: 144px;
	display: block;
	right: 0;
	bottom: 0;
	position: absolute;
	transition: all 0.3s;
}
.picture4-center-right img:hover{
	transform: translateX(-4px);
}
.picture4-center-right .word1{
	font-size: 17px;
	display: block;
	position: absolute;
	color: black;
	left: 25px;
	top: 30px;
}
.picture4-center-right .word2{
	font-size: 14px;
	display: block;
	position: absolute;
	color: #ea5f8d;
	left: 25px;
	top: 57px;
}
/* 居家生活 */
.picture3-top-left-jujia{
    border-left: 5px solid #64c333;
}
.picture3-center-left .bottom-jujia{
	background: #64c333;
}
.picture3-center-left .b-jujia{
	left: 42px;
}
/* 打造爱巢 */
.picture3-top-left-dazao{
    border-left: 5px solid #f15453;
}
.picture3-center-left .bottom-dazao{
	background: #f15453;
}
.picture3-center-left .b-dazao{
	left: 42px;
}
/* 户外出行 */
.picture3-top-left-huwai{
    border-left: 5px solid #19c8a9;
}
.picture3-center-left .bottom-huwai{
	background: #19c8a9;
}
.picture3-center-left .b-huwai{
	left: 42px;
}
/* 亲子时光 */
.picture3-top-left-qinzi{
    border-left: 5px solid #f7a945;
}
.picture3-center-left .bottom-qinzi{
	background: #f7a945;
}
.picture3-center-left .b-qinzi{
	left: 42px;
}
/* 猜你喜欢 */
.cai{
	width: 1226px;
	height: 18px;
	margin: 0 auto;
	margin-top: 32px;
	line-height: 18px;
	text-align: center;
	color: #ccc;
}
.cai-left{
	width: 30px;
	height: 8px;
	border-top: 1px solid #ccc;
	float: left;
	margin-top: 9px;
	margin-left: 539px;
}
.cai-right{
	width: 30px;
	height: 8px;
	border-top: 1px solid #ccc;
	float: right;
	margin-top: 9px;
	margin-right: 539px;
}
.picture9{
	width: 1226px;
	height: 320px;
	margin: 0 auto;
	margin-top: 23px;
}
.picture9 li{
	width: 239px;
	height: 320px;
	background: #ffffff;
	margin-right: 7px;
	float: left;
}
.picture9 li:last-child{
	margin-right:0;
}
.picture9 img{
	width: 239px;
	height: 230px;
}
.picture9 .like-word1{
	display: block;
	font-size: 12px;
	color: #ccc;
	text-align: center;
}
.picture9 .like-word2{
	display: block;
	font-size: 12px;
	color: red;
	margin-left: 28px;
	margin-top: 13px;
}
.youlove{
	width: 1230px;
	height: 369px;
	background: #f5f5f5;
	margin: 0 auto;
	margin-bottom: 80px;
}
.youlove-head{
	width: 100%;
	height: 43px;
	background: #f5f5f5;
	position: relative;
}
.youlove-head1{
	width: 175px;
	height: 100%;
	background: #f5f5f5;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
.youlove-head1-left,.youlove-head1-right{
	width: 30px;
	height: 1px;
	background: #979797;
	position: absolute;
	float: left;
	left: 0;
	bottom: 21px;
	/* margin-right: 10px; */
}
.youlove-head1-center{
	width: 95px;
	height: 100%;
	background: #f5f5f5;
	float: left;
	margin-left: 40px;
	line-height: 43px;
	font-size: 18px;
	color: #666666;
}
.youlove-head1-right{
	margin-left: 145px;
}
.youlove-body{
	width: 1230px;
	height: 326px;
	background: #f5f5f5;
}
.youlove-body li{
	width: 233px;
	height: 324px;
	background: #ffffff;
	float: left;
	margin-right: 13.75px;
	position: relative;
	border: 1px solid #ffffff;


}
.ylzhezhao{
	width: 233px;
	height: 324px;
	background: #ffffff;
	opacity: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;

	
}
.ylzhezhao:hover{
	opacity: 0.2;
}
.youlove-body li:hover {
	border: 1px solid red;

}
.youlove-body li:last-child{
	margin-right: 0;
}
.youlove-body-top{
	width: 100%;
	height: 233px;
	background: #ffffff;
}
.youlove-body-top img{
	display: block;
	width: 100%;
	height: 100%;
}
.youlove-body-bottom{
	width: 209px;
	height: 69px;
	background: #ffffff;
	padding: 14px 12px 8px;

}
.yl-bottom-word1{
	width: 100%;
	height: 35px;
	background: #ffffff;
	font-size: 13px;
	color:#666666 ;
	margin-bottom: 2px;
}
.yl-bottom-word2{
	width: 100%;
	height: 33px;
	background: #ffffff;
	font-size: 13px;
	color:#ff0000 ;
	line-height: 33px;
	
}
/* 猜你喜欢结束*/
/* END开始 */
.end{
	width: 100%;
	height: 56px;
	border-bottom: 1px solid #666;
	margin-top: 10px;
}
.end-center{
	width: 1230px;
	height: 45px;
	/* background: yellow; */
	padding-right:30px;
	margin: 0 auto;
	
}
.end-center .end-img{
	width: 80px;
	height: 45px;
	margin: 0 auto;
	/* background: #777; */
	background: url('../img/end.png');
	background-size: 80px 45px;
}

/* 购物指南 */
.service{
	width: 100%;
	height: 562px;
	background: #000;
   /*  padding-top: 25px; */

}
.service-bai{
	width: 100%;
	height: 325px;
	background: #fff;
	padding-top: 25px;
}
.service-top{
	width: 1190px;
	height: 110px;
	margin: 0  auto 25px;
	background: yellow;
	background: url('../img/tm-you1.jpg');
	border-bottom: 1px solid #000;
	/* margin-top: 25px; */
}
.tmall-desc{
	width: 1190px;
	height: 190px;
	margin-top: 22px;
	/* background: pink; */
	margin: 0 auto;
	
	position: relative;
}
.tianmao-logo{
	width: 68px;
	height: 25px;
	background: url('../img/tianmian-logo.png') no-repeat;
	background-size: 68px 25px;
	position: absolute;
	left: 0;
	bottom: 0;
	margin-left: 48px;
}
.tmall-desc dl{
	width: 186px;
	/* height: 90px; */
	padding-left: 52px;
	float: left;
}
.tmall-desc dl span{
	color: #646464;
    font-size: 16px;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    text-align: left;
}
.ensure dd a{
	font-size: 12px;
	width: 100px;
    overflow: hidden;
    text-align: left;
    height: 20px;
    line-height: 20px;
    color: #8b8b8b;
    float: left;
}

.ensure5 dd a{
	display: block;
	width: 105px;
	height: 105px;
   background: url('../img/erweima.png');
}
.big-last-bottom{
	width: 100%px;
	height: 180px;
	border-top: 2px solid #ff0036;
}
.tmall-bottom{
	width: 1190px;
	height: 180px;
	/* border-top: 2px solid #ff0036; */
	/* background: #777; */
	margin: 0 auto;
}
.about-tm{
	width: 1190px;
	height: 24px;
	margin-top: 5px;
	/* background: yellow; */
}
.about-ali{
	width: 1190px;
	height: 34px;
	line-height: 34px;
}
.about-tm a,.about-ali a{
	float: left;
	font-size:12px; 
	margin: 0 3px;
    color: #fff;
    line-height: 24px;

}
.about-ali a{
	line-height: 34px;
}
.about-ali span{
	float: left;
	color: #fff;
	font-size: 12px;
	line-height: 34px;
}
.xkz a, .tmall-bottom .title4 a{
	color: #a4a4a4;
	margin-right: 65px;
	font-size: 12px;

}
.xkz, .tmall-bottom .title4 ,.tmall-bottom .title5{
	color: #a4a4a4;
	font-size: 12px;
	margin-left: 3px;
}
.tmall-bottom .tupian{
	width: 1190px;
	height: 30px;
	padding: 10px 0 5px;
}
.tmall-bottom .tupian1{
	display: inline-block;
	width: 70px;
	height: 30px;
	background: url('../img/last2.jpg') no-repeat;
	margin-left: 3px;
	margin-right: 10px;
}
.tmall-bottom .tupian2{
	display: inline-block;
	width: 80px;
	height: 30px;
	background: url('../img/last3.jpg') no-repeat;
	margin-right: 3px;
}